.product-card {
  padding: 0;
}

div .card-body {
  flex: 1 1 auto;
  padding: 0.5rem 1rem;
}

div .card-footer {
  padding: 0.5rem 1rem;
}

.card-image {
  padding-top: 0.5rem;
  border-radius: 0.5rem;
}

.product-card_overlay {
  font-size: 2rem;
  font-weight: 700;
}

.product-card-name {
  font-size: 1rem;
  font-weight: 500;
  padding: 0;
}

.product-card_overlay:hover {
  cursor: pointer;
}

.product-card-text {
  text-align: center;
  color: black;
  margin: 0;
}

.product-card-qty {
  text-align: center;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
