.Navbar{
    background-color:aquamarine;
    position: fixed;
    top:0;
    width:100%;
    display: flex;
    line-height: 0px;
}

.Navbutton{
    margin:10px;
    text-decoration: none;   
    font-size: 20px;   
    color:white;
}