:root {
  --color-1: #56a2c5;
}

html,
body {
  height: 100%;
}

body #root {
  height: 100%;
}

.full-height {
  height: 100%;
  min-height: 90vh;
  padding-bottom: 2rem;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradient-custom-frontoffice {
  /* fallback for old browsers */
  background: #fff1eb;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 241, 235, 0.5),
    rgba(172, 224, 249, 0.5)
  );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(255, 241, 235, 0.5),
    rgba(172, 224, 249, 0.5)
  );
}

.gradient-custom-backoffice {
  /* fallback for old browsers */
  background: #f6d365;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(246, 211, 101, 0.5),
    rgba(253, 160, 133, 0.5)
  );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(246, 211, 101, 0.5),
    rgba(253, 160, 133, 0.5)
  );
}

.shadow-custom {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25),
    0 3px 11px 0px rgba(0, 0, 0, 0.05) !important;
}
